body {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
  background-color: #efede5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.top-container {
  background-color: #efede5;
  width: 100vw; /* Full viewport width */
  margin-left: calc(-1rem); /* Cancel out body padding */
  padding-left: 1rem; /* Restore internal padding if needed */
  padding-right: 1rem;
}

.middle-container {
  background-color: #efede5;
  width: 100vw; /* Full viewport width */
  margin-left: calc(-1rem); /* Cancel out body padding */
  padding-left: 1rem; /* Restore internal padding if needed */
  padding-right: 1rem;
  padding-top: 60px;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}
body {
  margin: 0;
  text-align: center;
}

p {
  display: block;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  text-align: center;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.bottom-container {
  background-color: white;
  width: 100vw; /* Full viewport width */
  padding: 50px 0 20px;
}

@import url("https://fonts.cdnfonts.com/css/gagalin");

h1 {
  font-family: "Gagalin", sans-serif;
  color: #3f4e3f;
  text-align: center;
  font-size: 70px;
  padding-top: 0px;
  margin-top: 0px;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #5d8c63;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.span {
  font-style: oblique;
  font-weight: bolder;
  color: #b8b889;
}

.logo {
  display: flex;
  justify-self: center;
  background-color: #efede5;
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.first-div {
  padding-top: 0;
  margin-top: 0;
}

@layer base, demo;
@import url(https://fonts.bunny.net/css?family=abel:400);

@layer demo {
  .carousel {
    --items: 3;
    --carousel-duration: 40s;
    @media (width > 600px) {
      --carousel-duration: 30s;
    }
    --carousel-width: min(
      95vw,
      1600px
    ); /* note - it will "break" if it gets too wide and there aren't enough items */
    --carousel-item-width: 460px;
    --carousel-item-height: 400px;
    --carousel-item-gap: 5rem;

    --clr-cta: rgb(0, 132, 209);

    position: relative;
    width: var(--carousel-width);
    height: var(--carousel-item-height);
    overflow: clip;

    &[mask] {
      /* fade out on sides */
      mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
      );
    }

    &[reverse] > article {
      animation-direction: reverse;
    }
    /* hover pauses animation */
    &:hover > article {
      animation-play-state: paused;
    }
  }
  .carousel > article {
    position: absolute;
    top: 0;
    left: calc(100% + var(--carousel-item-gap));
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
    display: grid;
    grid-template-rows: 200px auto 1fr auto;
    gap: 0.25rem;
    border: 1px solid light-dark(rgba(0 0 0 / 0.25), rgba(255 255 255 / 0.15));

    padding-block-end: 1rem;
    border-radius: 10px;
    background: light-dark(white, rgba(255 255 255 / 0.05));
    color: light-dark(rgb(49, 65, 88), white);

    /* animation */
    will-change: transform;
    animation-name: marquee;
    animation-duration: var(--carousel-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(
      var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
    );
    &:nth-child(1) {
      --i: 0;
    }
    &:nth-child(2) {
      --i: 1;
    }
    &:nth-child(3) {
      --i: 2;
    }
  }
  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px 10px 0 0;
  }
  .carousel > article > *:not(img) {
    padding: 0 1rem;
  }
  .carousel > article > div {
    grid-row: span 2;
    display: grid;
    grid-template-rows: subgrid;
    font-size: 0.8rem;
  }
  .carousel > article h2 {
    font-size: 1.2rem;
    font-weight: 300;
    padding-block: 0.75rem 0.25rem;
    margin: 0;
  }
  .carousel > article p {
    margin: 0;
  }
  .carousel > article a {
    text-decoration: none;
    text-transform: lowercase;
    border: 1px solid var(--clr-cta);
    color: light-dark(var(--clr-cta), white);
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    place-self: start;
    transition: 150ms ease-in-out;
    &:hover,
    &:focus-visible {
      background-color: var(--clr-cta);
      color: white;
      outline: none;
    }
  }

  @keyframes marquee {
    100% {
      transform: translateX(
        calc(
          (
              var(--items) *
                (var(--carousel-item-width) + var(--carousel-item-gap))
            ) * -1
        )
      );
    }
  }
}

/* general styling */
@layer base {
  * {
    box-sizing: border-box;
  }
  :root {
    color-scheme: light dark;

    --bg-dark: rgb(2, 6, 24);
    --bg-light: rgb(229, 229, 229);
    --txt-light: rgb(10, 10, 10);
    --txt-dark: rgb(245, 245, 245);
  }
  body {
    background-color: light-dark(var(--bg-light), var(--bg-dark));
    color: light-dark(var(--txt-light), var(--txt-dark));
    min-height: 100svh;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    font-family: "Abel", sans-serif;
    line-height: 1.5;
    display: grid;
    place-items: center;
    gap: 2rem;
  }
}
